/* CSS color guide: https://www.w3schools.com/cssref/css_colors.asp */
body {
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

#menu {
    background-color: gainsboro;
    padding: 10px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
  color: darkgrey;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

/* Making the carousel: https://www.w3schools.com/howto/howto_js_slideshow.asp */
#carousel {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.pics {
    max-width: 800px;
}

form {
  border: 1px black solid;
  width: 500px;
  padding: 15px;
  margin-top: 50px;
}
