body {
  background-color: #EFEFEF !important;
}

.main-content {
  margin-top: 1%;
  margin-bottom: 5%;
}

p {
  margin-left: 15%;
}

h1 {
  margin-left: 15%;
  padding-bottom: 2%;
  color: #F9CF00;
}

#carousel { 
  width: 70%;
  height: auto;
  margin: auto;
}
