body {
    background-color: #EFEFEF !important;
}

.main-content {
    margin-top: 1%;
    margin-bottom: 5%;
}

h1 {
    margin-left: 15%;
    padding-bottom: 2%;
    color: #F9CF00;
}

.no_caption_pics { 
    width: 70%;
    height: auto;
    margin-bottom: 3%;
}

.caption_pics { 
    width: 70%;
    height: auto;
}

#recipe {
    margin-left: 15%;
    margin-right: 15%;
    padding: 3%;
    border: 1px solid #A9A9A9;
    background-color: white;
}

#recipe ul {
    margin-top: 1%;
}

#recipe ol {
    margin-top: 1%;
}

#recipe li {
    margin-bottom: 1%;
}

button {
    background-color: #CAEBF2 !important;
    color: #A9A9A9 !important;
}

