body {
    background-color: #EFEFEF !important;
}

.main-content {
    padding-left: 7% !important;
    padding-right: 7% !important;
}

h1 {
    padding-bottom: 1%;
    color: #F9CF00;
}

.family {
    color: #A9A9A9;
}

a {
    color: #A9A9A9 !important;
    text-decoration: none !important;
}

.recipe_name {
    margin-top: 2%;
}

#johnson {
    margin-bottom: 3%;
}

#layco {
    display: inline-block;
    margin-right: 1%;
}

#filipino_flag {
    width: 9%;
    height: auto;
    padding-bottom: 2%;
    display: inline-block;
    vertical-align: middle;
}